<!DOCTYPE html>
<html>
  <head>
    <title>BasicRailsReactComponent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= owl_include_tag '/packs/app.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
